body,html{
    height: 100%;
    margin: 0;
}


.bg{
    background-image: url("img/loja.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    margin-top: 200px;
}

.lb{
    color: aliceblue;
    font-size: larger;
    /*background: black;*/
}