body,html{
    height: 100%;
    margin: 0;
}
#titulo{
    text-align: center;
    color: aliceblue;
    text-shadow: 1px 2px #000;

}


.bg{
    background-image: url("img/ferrari.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    /*margin-top: 175px;*/
}

.lb{
    color: aliceblue;
    font-size: 20px;
    text-shadow: 1px 2px #000;
}
